@{
    ViewBag.Title = "ShowDetails";
}

<p>
   <a href="http://dotnetmentors.com"><img src="http://dotnetmentors.com/images/dotnetmentors.png" alt="dotnetmentors.com" /></a> 
</p>

<h2>Show Details - ASP.NET View</h2>

<p>
    <span>
       @ViewBag.Message  Your ID is  @ViewBag.YourID
    </span> 
</p> 
